@model SurveyResultsViewModel

@{
    ViewData["Title"] = "Results";
}

<link href="~/css/results.css" rel="stylesheet" />

<h2>Survey Results</h2>

@foreach (KeyValuePair<string, int> kvp in Model.Results)
{
    @if (kvp.Value >= 1)
    {
        <div class="result-container">
            <div>
                <img id="survey-result-img" src="~/img/parks/@(kvp.Key).jpg" />
            </div>
            <div class="result-info">
                <p class="link"><a asp-controller="home" asp-action="detail" asp-route-parkCode="@kvp.Key">@(Model.Parks.FirstOrDefault(prop => prop.ParkCode == kvp.Key).ParkName)</a></p>
                <p>@(Model.Parks.FirstOrDefault(p => p.ParkCode == kvp.Key).Description)</p>
                <p class="badge"><strong>Votes:</strong> @kvp.Value</p>
            </div>
        </div>
    }
}
