@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var park in Model)
{
    <p><img src="~/img/parks/@(park.ParkCode).jpg" /></p>
    <p><a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode">@park.ParkName</a></p>
    <p>@park.Description</p>
}
