@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/index.css" rel="stylesheet" />

@foreach (var park in Model)
{
    <div class="park">
        <div class="image">
            <p><a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode"><img src="~/img/parks/@(park.ParkCode).jpg" /></a></p>
        </div>
        <div class="information">
            <p class="link"><a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode">@park.ParkName</a></p>
            <p>@park.Description</p>
        </div>
    </div>
}
