@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var park in Model)
{
    <p><img src="~/img/parks/@(park.ParkCode).jpg" /></p>
    <p>@park.ParkName</p>
    <p>@park.Description</p>
}

