.weather-info {
    display: inline-block;
    max-width: 150px;
    vertical-align: top;
}

.weather-image {
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.recommendations {
    margin: 0px 5px 0px 5px;
}